[[mgr.prepend_keymap]]
on = ["y"]
run = [
	'''shell 'for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list' --confirm ''',
	"yank",
]


[[mgr.prepend_keymap]]
on = ["c", "m"]
run = "plugin chmod"
desc = "Chmod on selected files"


[[mgr.prepend_keymap]]
on = ["c", "a"]
run = ["plugin copy-file-contents"]
desc = "Copy contents of file"


[[mgr.prepend_keymap]]
on = ["g", "t"]
run = "plugin recycle-bin open"
desc = "Go to Trash"


[[mgr.prepend_keymap]]
on = ["R", "o"]
run = "plugin recycle-bin open"
desc = "Open Trash"


[[mgr.prepend_keymap]]
on = ["R", "e"]
run = "plugin recycle-bin empty"
desc = "Empty Trash"


[[mgr.prepend_keymap]]
on = ["R", "d"]
run = "plugin recycle-bin delete"
desc = "Delete from Trash"


[[mgr.prepend_keymap]]
on = ["R", "D"]
run = "plugin recycle-bin emptyDays"
desc = "Empty by days deleted"


[[mgr.prepend_keymap]]
on = ["R", "r"]
run = "plugin recycle-bin restore"
desc = "Restore from Trash"
