[Desktop Entry]
Name=X Minecraft Launcher
Comment=A modern, open-source Minecraft Launcher
Exec=/usr/bin/xmcl %U
Terminal=false
Type=Application
Icon=xmcl
Categories=Game;
StartupNotify=true
MimeType=x-scheme-handler/xmcl;
Keywords=xmcl
