[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=zen-browser %u
Name=Zen Browser
Comment=Custom definition for Zen Browser
